# PyMongo Quickstart 

Comme vous le savez python peut gérer les bases de données. Si cela ne vous dis rien, je vous renvoie à la séance sur les bases de données relationnelles et le module SQLite. Python peut aussi gérer les bases de données non relationnelles, le NoSQL et notamment via MongoDB.

## MongoDB
[MongoDB](https://www.mongodb.com/) est un système de gestion de [base de données orientée documents](https://fr.wikipedia.org/wiki/Base_de_donn%C3%A9es_orient%C3%A9e_documents), répartissable sur un nombre quelconque d'ordinateurs et ne nécessitant pas de schéma prédéfini des données. Il est écrit en C++.

In [1]:
import pymongo 
from pymongo import MongoClient

### Création de bases de données 
Afin de créer la base de donnée il faut créer un *client*, objet de PyMongo. On crée ensuite lle

In [2]:
client = MongoClient("mongodb://localhost:27017/")
db = client["testdb"]

### Stockage 
MongoDB stocke les enregistrements de données sous forme de [documents BSON](http://bsonspec.org/). Le BSON étant la représentation binaire de JSON. Tout comme en SQL, on peut voir les bases de données présentes  `client.list_database_names()` et la méthode *list_database_names()*.

In [3]:
if 'testdb' in client.list_database_names() : 
    print('data base ok')
else : 
    print('not ok')

data base ok

### Les collections 

La classe Collection de PyMongo représente la construction de collection dans MongoDB. **Les collections contiennent des groupes de documents connexes.** Il est intéressant de noter que MongoDB crée implicitement de nouvelles bases de données et collections lors de la première utilisation.

In [4]:
mycol = db["customers"]
mydict = { "name": "John", "address": "Highway 37" }
#x = mycol.insert_one(mydict)

In [5]:
if 'customers' in db.list_collection_names() : print('Collection in database')

Collection in database

### Insertion par dictionnaire  
Bien connaire [les méthodes relatives aux dictionnaires](https://www.w3schools.com/python/python_ref_dictionary.asp) peut s'avérer utile.

In [6]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

#x = mycol.insert_many(mylist)

### Affichage et tris 
L'intérogation de la base de données s'effectue avec la méthode `find(filter=None, projection=None, skip=0, limit=0, no_cursor_timeout=False)`. On peut aussi trier les résultat avec`sort(_item)`.

In [7]:
for w in mycol.find().sort("_id") : 
    print(w)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

#### Filtrage via les item du dictionnaire

In [8]:
for x in mycol.find({},{ "name": 1, "_id" : 0, "address":1 }):
    print(x.items())

dict_items([('name', 'Peter'), ('address', 'Lowstreet 27')])
dict_items([('name', 'Amy'), ('address', 'Apple st 652')])
dict_items([('name', 'Hannah'), ('address', 'Mountain 21')])
dict_items([('name', 'Michael'), ('address', 'Canyon 123')])
dict_items([('name', 'Sandy'), ('address', 'Ocean blvd 2')])
dict_items([('name', 'Betty'), ('address', 'Green Grass 1')])
dict_items([('name', 'Richard'), ('address', 'Sky st 331')])
dict_items([('name', 'Susan'), ('address', 'One way 98')])
dict_items([('name', 'Vicky'), ('address', 'Yellow Garden 2')])
dict_items([('name', 'Ben'), ('address', 'Park Lane 38')])
dict_items([('name', 'William'), ('address', 'Central st 954')])
dict_items([('name', 'Chuck'), ('address', 'Main Road 989')])
dict_items([('name', 'Viola'), ('address', 'Sideway 1633')])
dict_items([('name', 'John'), ('address', 'Highway 37')])

#### Filtrage via les regex 
[Les expression régulière](https://fr.wikipedia.org/wiki/Expression_r%C3%A9guli%C3%A8re) peuvent s'avérer très utile aussi pour filtrer rapidement votre base :

In [9]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
#affichage des résultat
for x in mydoc:
  print(x)

{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

#### Utilisation avec les conditions 
Un exemple de condition IF :

In [10]:
if mycol.find({'name': 'Ben'}) : print('Ben existe bien ')

Ben existe bien

### Suprimer un item

In [11]:
res = mycol.delete_one({"name":"John"})
print("{} item ont été supprimés".format(res.deleted_count))

1 item ont été supprimés


### Suprimer des collections 
```
x = mycol.delete_many({})
print(x.deleted_count, " documents deleted.")
```

### Update 
Mettre à jour un seul document correspondant au filtre `update_one(filter, update, upsert=False)`. Si on veut mettre à jour plusieurs documents correspondant on utilise donc le filtre `update_many(filter, update, upsert=False)`

In [12]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
#mise à jour de la base 
mycol.update_one(myquery, newvalues)
#tris et limitation d'affichage 
for x in mycol.find().sort("name",-1).limit(5):
    print(x)

{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}

### Affichage

In [13]:
for x in mylist: 
    print('{0} : {1}'.format(x['name'], x['address']))

John : Highway 37
Peter : Lowstreet 27
Amy : Apple st 652
Hannah : Mountain 21
Michael : Valley 345
Sandy : Ocean blvd 2
Betty : Green Grass 1
Richard : Sky st 331
Susan : One way 98
Vicky : Yellow Garden 2
Ben : Park Lane 38
William : Central st 954
Chuck : Main Road 989
Viola : Sideway 1633

### Filtrage avancé 

Pour cette exemple nous nousbaserons sur une nouvelle collections *cars*.

In [14]:
cars = [ {'name': 'Audi', 'price': 52642},
    {'name': 'Mercedes', 'price': 57127},
    {'name': 'Skoda', 'price': 9000},
    {'name': 'Volvo', 'price': 29000},
    {'name': 'Bentley', 'price': 350000},
    {'name': 'Citroen', 'price': 21000},
    {'name': 'Hummer', 'price': 41400},
    {'name': 'Volkswagen', 'price': 21600} ]
myCars = db["cars"]
myCars.insert_many(cars)
print(db.list_collection_names())

['cars', 'customers', 'Employees']

In [15]:
n_list = myCars.find().count()
print("Il y a {} voiture dans notre collection : \n\n {}".format(n_list, myCars))

Il y a 16 voiture dans notre collection :

 Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'testdb'), 'cars')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

### L'agrégation 
Il s'agit simplement de fonctions s'appliquant sur un ensemble d'enregistrements permettant ainsi de compter le nombre d'enregistrements répondant à tels ou tels critères, de déterminer la moyenne des valeurs, de déterminer la plus petite ou la plus grande valeur, etc. Ici nous allons chercher à calculer la somme des prix de nos voiture.

In [16]:
agr = [ {'$group': {'_id': 1, 'all': { '$sum': '$price' } } } ]
val = list(myCars.aggregate(agr))
print('La somme du prix des voiture est de : {} €'.format(val[0]['all']))

La somme du prix des voiture est de : 1163538 €

In [17]:
agr = [{ '$match': {'$or': [ { 'name': "Audi" }, { 'name': "Volvo" }] }}, { '$group': {'_id': 1, 'sum2cars': { '$sum': "$price" } }}]
val = list(myCars.aggregate(agr))
print('La somme du prix des voiture est de : {} €'.format(val[0]['sum2cars']))

La somme du prix des voiture est de : 163284 €